#rootLayout {
    -fx-background-color: #303030;
}

#menuLayout {
    -fx-background-color: #335972;
    -fx-spacing: 25;
    -fx-padding: 4 10 4 10;
    -fx-border-color: #224358;
    -fx-border-width: 0 0 3 0;
}

.clickable-menu-item-label {
    -fx-font-family: monospace;
    -fx-font-size: 18;
    -fx-text-fill: coral;
    -fx-cursor: hand;
}

.clickable-menu-item-label:hover {
    -fx-text-fill: #ffd900
}

.clickable-menu-item-label:pressed {
    -fx-text-fill: #fff8d0
}

.clickable-menu-item-label:disabled {
    -fx-text-fill: #aaaaaa;
}

.static-menu-item-label {
    -fx-font-family: monospace;
    -fx-font-size: 18;
    -fx-text-fill: #000000;
}

.menu-item-section-divider {
    -fx-font-family: monospace;
    -fx-font-size: 18;
    -fx-text-fill: #224358;
}

#mPlayPauseButton {
    -achtung-background-color: #00000000;
    -achtung-stroke-color: #a5a5a5;
    -achtung-icon-fill-color: #a5a5a5;
    -achtung-icon-stroke-color: #00000000;
}

#mPlayPauseButton:hover {
    -fx-cursor: hand;
    -achtung-background-color: linear-gradient(from 50% 10% to 50% 90%, #5e5e5e, #979797);
    -achtung-stroke-color: linear-gradient(from 50% 10% to 50% 90%, #979797, #3f3f3f);;
    -achtung-icon-fill-color: linear-gradient(from 50% 10% to 50% 90%, #424242, #353535);
    -achtung-icon-stroke-color: transparent;
}

#mPlayPauseButton:disabled {
    -achtung-background-color: #00000000;
    -achtung-stroke-color: #757575;
    -achtung-icon-fill-color: #00000000;
    -achtung-icon-stroke-color: #757575;
}