#rootLayout {
    -fx-background-color: #303030;
}

#menuLayout {
    -fx-background-color: #335972;
    -fx-spacing: 25;
    -fx-padding: 4 10 4 10;
    -fx-border-color: #224358;
    -fx-border-width: 0 0 3 0;
}

.clickable-menu-item-label {
    -fx-font-family: monospace;
    -fx-font-size: 18;
    -fx-text-fill: coral;
    -fx-cursor: hand;
}

.clickable-menu-item-label:hover {
    -fx-text-fill: #ffd900
}

.clickable-menu-item-label:pressed {
    -fx-text-fill: #fff8d0
}

.clickable-menu-item-label:disabled {
    -fx-text-fill: #aaaaaa;
}

.static-menu-item-label {
    -fx-font-family: monospace;
    -fx-font-size: 18;
    -fx-text-fill: #000000;
}

.menu-item-section-divider {
    -fx-font-family: monospace;
    -fx-font-size: 18;
    -fx-text-fill: #224358;
}

#mPlayPauseButton:hover {
    -fx-cursor: hand;
}